.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
ra-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

.env

public/uploads/ckeditor/pictures/**

/.bundle
/vendor/bundle

.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv

.byebug_history

config/database.yml
config/secrets.yml
